@mixin font-face($font-family, $font-weight, $font-style, $src-woff-2, $src-woff) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $src-woff-2, $src-woff;
    font-display: swap;
  }
}

@include font-face("Roboto Condensed", 400, normal, url("../../fonts/Robotocondensed.woff2") format("woff2"), url("../../fonts/Robotocondensed.woff") format("woff"));
@include font-face("Roboto Condensed", 700, normal, url("../../fonts/Robotocondensedbold.woff2") format("woff2"), url("../../fonts/Robotocondensedbold.woff") format("woff"));
@include font-face("Roboto Condensed", 300, normal, url("../../fonts/Robotocondensedlight.woff2") format("woff2"), url("../../fonts/Robotocondensedlight.woff") format("woff"));
@include font-face("Alumni Sans", 800, normal, url("../../fonts/AlumniSans-ExtraBold.woff2") format("woff2"), url("../../fonts/AlumniSans-ExtraBold.woff") format("woff"));
@include font-face("Alumni Sans", 600, normal, url("../../fonts/AlumniSans-SemiBold.woff") format("woff2"), url("../../fonts/AlumniSans-SemiBold.woff") format("woff"));
@include font-face("Alumni Sans", 500, normal, url("../../fonts/AlumniSans-Medium.woff2") format("woff2"), url("../../fonts/AlumniSans-Medium.woff") format("woff"));
