.hero__container {
  background-image: linear-gradient(90deg, #1c3477 0%, #1c3477 0%, #1a3578 39%, #73184b 76%, #b4022a 100%);
  padding: 16px 15px 32px;
  width: unset;
}

.hero__top-block {
  margin-bottom: 64px;
}

.hero__logo-icon {
  width: 100px;
}

.hero__logo-phone {
  display: flex;
  justify-content: space-between;
}

.hero__tel-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 22px;
  font-family: $roboto;
  font-weight: 700;
  position: relative;
  width: 150px;
}

.hero__tel-link:hover {
  color: rgba(28, 51, 116, 0.5);
}

.hero__tel-link:focus {
  color: #1c3374;
  outline: none;
}

.hero__tel-link:active::after {
  color: #102654;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #102654;
}

.hero__tel-link[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
  outline: none;
}

.hero__content-wrapper {
  display: grid;
  row-gap: 48px;
  justify-content: space-between;
}

.hero__content-title-wrapper {
  text-align: end;
  width: 156px;
  grid-column: 2/3;
}

.hero__content-country {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  display: block;
  margin-bottom: 14px;
}

.hero__content-title {
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  color: #ffffff;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero__content-services-list {
  margin: 0;
  padding: 0;
  align-self: end;
  text-align: end;
}

.hero__content-services-item {
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: $roboto;
  color: #ffffff;
}

.hero__button {
  padding: 24px 0;
  background: transparent;
  color: #ffffff;
  grid-column: 1/3;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .hero__container {
    padding: 31px 44px 83px;
    width: unset;
  }

  .hero__top-block {
    margin-bottom: 29px;
  }

  .hero__logo-icon {
    width: 110px;
    height: 22px;
  }

  .hero__tel-link {
    font-size: 24px;
    line-height: 24px;
    width: 163px;
  }

  .hero__content-wrapper {
    justify-content: center;
    grid-template-columns: auto 215px auto;
  }

  .hero__content-services-list {
    align-self: normal;
    margin-top: 163px;
    justify-self: start;
  }

  .hero__content-services-item {
    margin-right: 26px;
    line-height: 22px;
  }

  .hero__content-title-wrapper {
    width: auto;
    margin-right: 28px;
    padding-top: 31px;
  }

  .hero__content-country {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 10px;
    margin-right: 2px;
  }

  .hero__content-title {
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    margin-bottom: 2px;
  }

  .hero__content-wrapper::after {
    content: "";
    display: block;
    background-image:
      image-set(
        "../../img/hero-img-tablet@1x.webp" 1x type("image/webp"),
        "../../img/hero-img-tablet@2x.webp" 2x type("image/webp"),
        "../../img/hero-img-tablet@1x.jpg" 1x type("image/jpg"),
        "../../img/hero-img-tablet@2x.jpg" 2x type("image/jpg"));
    background-size: 324px 390px;
    width: 324px;
    height: 390px;
    grid-column: 3/4;
    grid-row: 1/4;
  }

  .hero__button {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 186px;
    padding: 22px;
  }
}

@media (min-width: $desktop-width) {
  .hero__container {
    padding: 30px 103px 120px;
  }

  .hero__top-block {
    margin-bottom: 58px;
  }

  .hero__tel-link {
    font-size: 26px;
    line-height: 26px;
    margin-top: 2px;
    width: 176px;
  }

  .hero__logo-icon {
    width: 130px;
    height: 26px;
  }

  .hero__content-wrapper {
    justify-content: end;
    margin-right: 72px;
    grid-template-columns: auto 326px auto;
    row-gap: 40px;
  }

  .hero__content-services-list {
    align-self: center;
    margin-top: 158px;
  }

  .hero__content-services-item {
    text-align: end;
    margin: 0;
  }

  .hero__content-wrapper::after {
    background-image:
      image-set(
        "../../img/hero-img-desktop@1x.webp" 1x type("image/webp"),
        "../../img/hero-img-desktop@2x.webp" 2x type("image/webp"),
        "../../img/hero-img-desktop@1x.jpg" 1x type("image/jpg"),
        "../../img/hero-img-desktop@2x.jpg" 2x type("image/jpg"));
    background-size: 500px 524px;
    width: 500px;
    height: 524px;
  }

  .hero__content-title-wrapper {
    margin-right: 56px;
    padding-top: 52px;
  }

  .hero__content-country {
    font-size: 54px;
    line-height: 54px;
    margin-bottom: 40px;
  }

  .hero__content-title {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }

  .hero__button {
    width: 270px;
    padding: 26px;
  }
}
