.about__container {
  padding-bottom: 40px;
  margin: 0 auto;
}

.about__content {
  padding: 40px 15px 36px;
}

.about__content-title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 12px;
}

.about__content-text {
  font-family: $roboto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 36px;
}

.about__content-description p {
  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.about__content-description p:last-child {
  display: none;
}

.about__content-image {
  display: block;
  margin-bottom: 36px;
}

.about__content-video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
    image-set(
      "../../img/video-image-mobile@1x.jpg" 1x type("image/jpg"),
      "../../img/video-image-mobile@2x.jpg" 2x type("image/jpg"),
      "../../img/video-image-mobile@1x.webp" 1x type("image/webp"),
      "../../img/video-image-mobile@2x.webp" 2x type("image/webp")
    );
  width: 320px;
  height: 170px;
  background-repeat: no-repeat;
  object-fit: contain;
  background-size: 320px auto;
}

.about__content-video-button {
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: linear-gradient(97deg, #ed0233 0%, #003eb7 100%), image-set("./img/video-image-mobile@2x.jpg" 1x type("image/jpg"));
  content: "";
  display: block;
  z-index: 2;
  border: none;
  border-radius: 50%;
  transition: ease 0.3s;
}

.about__content-video-button:hover,
.about__content-video-button:focus,
.about__content-video-button:active,
.about__content-video-button:disabled {
  background-image: none;
}

.about__content-video-button:hover,
.about__content-video-button:active {
  background-color: #ffffff;
}

.about__content-video-button:focus {
  background-color: #c8c9cc;
  outline: none;
}

.about__content-video-button:active {
  width: 38px;
  height: 38px;
  transition: ease 0.3s;
}

.about__content-video-button:disabled {
  opacity: 0.4;
}

.about__content-video-button::after {
  mask-image: url("/__spritemap#sprite-arrow-video-icon-view");
  content: "";
  display: block;
  mask-size: 9px 12px;
  width: 9px;
  position: absolute;
  z-index: 2;
  height: 12px;
  mask-position: center center;
  top: 50%;
  left: 50%;
  transform: translate(-3px, -6px);
  background-color: #ffffff;
}

.about__content-video-button:hover::after {
  opacity: 0.6;
}

.about__content-video-button:hover::after,
.about__content-video-button:focus::after,
.about__content-video-button:active::after,
.about__content-video-button:disabled::after {
  background-color: #102654;
}

.about__content-video-button:active::after {
  opacity: 1;
}

.about__content-video-button::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  z-index: 2;
  position: absolute;
  border: 2px #ed0233 solid;
  border-radius: 50%;
  padding: 5px;
  opacity: 0.2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  top: 50%;
  left: 50%;
  transform: translate(-36px, -36px);
}

.about__content-video-button:hover::before,
.about__content-video-button:active::before {
  border-color: rgba(16, 38, 84, 0.6);
}

.about__content-video-button:focus::before {
  border-color: #102654;
  opacity: unset;
}

.about__content-video {
  position: absolute;
  border: none;
}

.about__content-video-image {
  z-index: 1;
}


@media (min-width: $tablet-width) {
  .about__container {
    padding: 0 40px 120px;
    position: relative;
  }

  .about__content {
    padding: 60px 100px 36px;
    text-align: center;
  }

  .about__content-title {
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    letter-spacing: 0.01px;
  }

  .about__content-text {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35.7px;
  }

  .about__content-description p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0.3px;
  }

  .about__content-description span {
    margin-left: 1px;
  }

  .about__content-image {
    width: 678px;
    height: 345px;
    margin: 0 auto;
    object-fit: cover;
  }

  .about__content-video-wrapper {
    width: 270px;
    height: 170px;
    margin: 0 auto;
    background-image:
      image-set(
        "../../img/video-img-tablet@1x.jpg" 1x type("image/jpg"),
        "../../img/video-img-tablet@2x.jpg" 2x type("image/jpg"),
        "../../img/video-img-tablet@1x.webp" 1x type("image/webp"),
        "../../img/video-img-tablet@2x.webp" 2x type("image/webp")
      );
    position: absolute;
    left: 249px;
    bottom: 35px;
    background-size: 270px 170px;
  }

  .about__content-video {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .about__content-video-image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: $desktop-width) {
  .about__container {
    display: flex;
    padding: 120px 103px 240px;
    column-gap: 145px;
  }

  .about__content {
    padding: 0;
    width: 355px;
  }

  .about__content-title {
    font-size: 54px;
    line-height: 54px;
    text-align: start;
    margin-bottom: 26px;
  }

  .about__content-text {
    font-size: 22px;
    line-height: 22px;
    text-align: start;
    margin-bottom: 93px;
  }

  .about__content-description {
    text-align: start;
  }

  .about__content-description p:last-child {
    display: block;
  }

  .about__content-description p:first-child {
    margin-bottom: 9px;
  }

  .about__content-image {
    width: 660px;
    height: 400px;
    object-fit: cover;
    margin: 0;
  }

  .about__content-video-wrapper {
    width: 360px;
    height: 230px;
    background-image:
      image-set(
        "../../img/video-img-desktop@1x.jpg" 1x type("image/jpg"),
        "../../img/video-img-desktop@2x.jpg" 2x type("image/jpg"),
        "../../img/video-img-desktop@1x.webp" 1x type("image/webp"),
        "../../img/video-img-desktop@2x.webp" 2x type("image/webp")
      );
    background-size: 360px 230px;
    left: 503px;
    bottom: 125px;
  }

  .about__content-video-button {
    width: 72px;
    height: 72px;
  }

  .about__content-video-button:active {
    width: 58px;
    height: 58px;
  }

  .about__content-video-button::before {
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
  }
}
