.games__container {
  margin: 0 auto;
  padding: 25px 15px;
}

.games__container::after {
  background-image:
    image-set(
      "../../img/games-img-desktop@1x.jpg" 1x type("image/jpg"),
      "../../img/games-img-desktop@2x.jpg" 2x type("image/jpg"),
      "../../img/games-img-desktop@1x.webp" 1x type("image/webp"),
      "../../img/games-img-desktop@2x.webp" 2x type("image/webp")
    );
  content: "";
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 290px;
  height: 290px;
}

.games__content {
  background-color: #ed0233;
  padding: 40px;
  display: grid;
}

.games__content-title {
  margin: 0;
  font-size: 48px;
  line-height: 54px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  grid-column: 1/2;
}

.games__content-datetime {
  grid-column: 2/3;
  color: #ffffff;
  min-width: 56px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.games__content-text {
  grid-column: 1/3;
  font-size: 16px;
  line-height: 20px;
  font-family: $roboto;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 17px;
}

.games__content-date-label {
  font-size: 16px;
  line-height: 20px;
  font-family: $roboto;
  margin: 0;
  margin-bottom: 5px;
  position: relative;
  margin-left: 4px;
}

.games__content-date-label::after {
  content: "";
  display: block;
  width: 56px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: -3px;
}

.games__content-date {
  display: flex;
  margin-bottom: 5px;
  margin-left: 20px;
}

.games__content-day {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: $roboto;
  margin-right: 4px;
}

.games__content-month-year {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  font-family: $roboto;
  width: 32px;
  display: block;
}

.games__content-time-label {
  font-size: 16px;
  line-height: 20px;
  font-family: $roboto;
  margin: 0;
  margin-bottom: 7px;
  position: relative;
  margin-left: 14px;
}

.games__content-time-label::after {
  content: "";
  display: block;
  width: 56px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  bottom: -3px;
}

.games__content-time {
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  font-family: $roboto;
  margin-left: 29px;
}

.games__content-button {
  grid-row: 3/4;
  grid-column: 1/3;
  padding: 24px 0;
  outline: 2px #ffffff solid;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.games__content-button[aria-disabled="true"] {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

@media (min-width: $tablet-width) {
  .games__container {
    display: flex;
    padding: 60px 45px;
  }

  .games__container::after {
    width: 378px;
    height: 348px;
  }

  .games__content {
    width: 300px;
  }

  .games__content-datetime {
    width: 100px;
    align-items: start;
  }

  .games__content-date-label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 0;
    width: 100px;
  }

  .games__content-date-label::after {
    font-size: 18px;
    line-height: 24px;
    bottom: -2px;
    width: 100%;
  }

  .games__content-date {
    margin-bottom: 9px;
    margin-left: unset;
  }

  .games__content-day {
    align-self: center;
    margin-right: 6px;
  }

  .games__content-month-year {
    font-size: 14px;
    line-height: 22px;
  }

  .games__content-time-label {
    font-size: 18px;
    line-height: 24px;
    margin-left: unset;
    width: 100px;
    margin-bottom: 6px;
  }

  .games__content-time {
    margin-left: unset;
  }

  .games__content-time-label::after {
    font-size: 18px;
    line-height: 24px;
    bottom: -2px;
    width: 100%;
  }

  .games__content-text {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 1px;
  }

  .games__content-button {
    padding: 27px 0 18px;
  }
}

@media (min-width: $desktop-width) {
  .games__container {
    padding: 100px 103px;
  }

  .games__container::after {
    width: 660px;
    height: 500px;
  }

  .games__content {
    width: 500px;
    padding: 60px 80px 98px;
    row-gap: 30px;
  }

  .games__content-title {
    font-size: 82px;
    line-height: 96px;
  }

  .games__content-datetime {
    width: 95px;
  }

  .games__content-date-label {
    margin-bottom: 10px;
  }

  .games__content-date-label::after {
    bottom: -6px;
  }

  .games__content-date {
    margin-bottom: 19px;
  }

  .games__content-day {
    font-size: 40px;
    line-height: 40px;
    padding-top: 2px;
  }

  .games__content-month-year {
    line-height: 23px;
  }

  .games__content-time-label {
    margin-bottom: 13px;
  }

  .games__content-time-label::after {
    bottom: -7px;
  }

  .games__content-time {
    font-size: 40px;
    line-height: 40px;
  }

  .games__content-text {
    margin-top: 0;
  }

  .games__content-button {
    align-self: center;
    min-height: 66px;
  }
}
